<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<section class="content">
		<div class="row">
			<div class="col-xs-12">

				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Cadastro de Documentos</h3>

					</div>
					<div class="col-xs-12">
						<a href="#/documentos/new" class="btn btn-primary" type="button">
							Novo Documento </a>
					</div>
					<hr>
					<p ng-show="mensagem.length" class="alert alert-info">
						{{mensagem}}</p>

					<!-- /.box-header -->
					<div class="box-body">
						<tabela-documentos></tabela-documentos>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</section>
</div>