<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>Cadastro de Empresas</h1>
	</section>
	<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}
	</p>
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<!-- left column -->
			<div class="col-md-6">
				<!-- general form elements -->
				<div class="box box-primary">
					<!-- /.box-header -->
					<!-- form start -->
					<form novalidate="novalidate" name="formulario"
						ng-submit="submeter();">

						<div class="box-body">
							<div class="form-group">
								<label>Nome</label> <input type="text" class="form-control"
									placeholder="Nome da Empresa" ng-model="empresa.nome"
									required="required"> <span
									ng-show="formulario.$submitted && formulario.nome.$error.required"
									class="form-control alert-danger"> Nome obrigatório </span>
							</div class="form-group">
							<div>
								<img class="img-responsive"
									data-ng-src="data:image/png;base64,{{empresa.logomarca}}"
									ng-show="previewImage == null && empresa.logomarca != null" />
								<img class="img-responsive" ng-src="{{previewImage}}"
									ng-show="previewImage != null && empresa.logomarca == null">
							</div>
							<div class="form-group">
								<file-field ng-model="uploadFile" preview="previewImage">Escolha um arquivo</file-field>
								<div>
									<span class="small">*Tamanho máximo 50MB</span>
								</div>
							</div>
						</div>
						<!-- /.box-body -->

						<div class="box-footer">
							<button type="submit" class="btn btn-primary"
								ng-disabled="formulario.$invalid">Salvar</button>
							<a href="#/empresas" class="btn btn-primary">Voltar</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>
