<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>Cadastro de QrCodes</h1>
	</section>
	<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}
	</p>
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<!-- left column -->
			<div class="col-md-6">
				<!-- general form elements -->
				<div class="box box-primary">
					<form novalidate="novalidate" name="formulario"
						ng-submit="submeter()">

						<div class="box-body">
							<div class="form-group">
								<label>Código</label> <input type="text" class="form-control"
									placeholder="Código Produto" ng-model="produto.codigo"
									required="required"> <span
									ng-show="formulario.$submitted && formulario.codigo.$error.required"
									class="form-control alert-danger"> Código obrigatório </span>
							</div>
							<div class="form-group">
								<label>Nome</label> <input type="text" class="form-control"
									placeholder="Nome do Produto" ng-model="produto.nome"
									required="required"> <span
									ng-show="formulario.$submitted && formulario.nome.$error.required"
									class="form-control alert-danger"> Nome obrigatório </span>
							</div>
							<div class="form-group">
								<label>Descrição</label> <input type="text" class="form-control"
									placeholder="Descrição do Produto" ng-model="produto.descricao">
							</div>
							<div class="form-group">
								<label>Link</label> <input type="text" class="form-control"
									placeholder="Link" ng-model="produto.link" required="required">
								<span
									ng-show="formulario.$submitted && formulario.link.$error.required"
									class="form-control alert-danger"> Link obrigatório </span>
							</div>
							<div class="form-group">
								<label>Empresa</label> <select name="empresas"
									ng-model="produto.empresa.id" class="form-control"
									style"width: 100%;" required="required">
									<option value="">Escolha uma empresa</option>
									<option ng-repeat="empresa in empresas" value="{{empresa.id}}" ng-selected="{{produto.empresa.id}}">{{empresa.nome | uppercase }}</option>
								</select> <span
									ng-show="formulario.$submitted && formulario.empresa.id.$error.required"
									class="form-control alert-danger"> Empresa obrigatório </span>
							</div>

							<div class="form-group" ng-show="produto.id">
								<label>QrCode</label> <img class="img-responsive"
									data-ng-src="data:image/png;base64,{{produto.imgQrCode}}"
									ng-show="produto.id" />
							</div>
						</div>
						<!-- /.box-body -->

						<div class="box-footer">
							<button type="submit" class="btn btn-primary"
								ng-disabled="formulario.$invalid">Salvar</button>
							<a href="#list" class="btn btn-primary">Voltar</a>
						</div>
					</form>
					
					</div>
			</div>
		</div>
	</section>
</div>
							
				