<table datatable="ng" class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Nome</th>
			<th>Logo</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="e in empresas">
			<td><span ng-bind="e.nome"></span></td>
			<td><img style="width: 10%" ng-show="e.logomarca != null"
				data-ng-src="data:image/png;base64,{{e.logomarca}}" /></td>

			<td><a href="#/empresas/edit/{{e.id}}"
				class="btn btn-success custom-width">Editar</a>
				<button type="button" ng-click="remover(e)"
					class="btn btn-danger custom-width">Remover</button></td>
		</tr>

	</tbody>
	<tfoot>
		<tr>
			<th>Nome</th>
			<th>Logo</th>
			<th>Ações</th>
		</tr>
	</tfoot>
</table>