<table datatable="ng" class="table table-bordered table-striped" >
	<thead>
		<tr>
			<th>Empresa</th>
			<th>Nome</th>
			<th>QrCode</th>
			<th>Link do Produto</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="p in produtos">
			<td><span ng-bind="p.empresa.nome"></span></td>
			<td><span ng-bind="p.nome"></span></td>
			<td><img style="width: 50%"
				data-ng-src="data:image/png;base64,{{p.imgQrCode}}" /></td>
				<td><span ng-bind="p.link"></span></td>
				<td>
					<a href="#edit/{{p.id}}"
					class="btn btn-success custom-width">Editar</a>
					<button type="button" ng-click="remover(p)"
					class="btn btn-danger custom-width">Remover</button>
					<button type="button" ng-click="download(p)"
					ng-show="p.imgQrCode != null" class="btn btn-primary">Download</button>
				</td>
			</tr>

		</tbody>
		<tfoot>
			<tr>
				<th>Empresa</th>
				<th>Nome</th>
				<th>QrCode</th>
				<th>Link do Produto</th>
				<th>Ações</th>
			</tr>
		</tfoot>
	</table>