<table datatable="ng" class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Título</th>
			<th>Tipo</th>
			<th>Documento</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="d in documentos">
			<td><span ng-bind="d.titulo"></span></td>
			<td><span ng-bind="d.tipo"></span></td>
			<td><img style="width: 10%" ng-show="d.documento != null"
				data-ng-src="data:{{d.tipo}};base64,{{d.documento}}" /></td>

			<td><a href="#/documentos/edit/{{d.id}}"
				class="btn btn-success">Editar</a>

				<button type="button" ng-click="remover(d)"
					class="btn btn-danger">Remover</button>

				<button type="button" ng-click="download(d)"
					ng-show="d.documento != null" class="btn btn-primary">Download</button>
			</td>
		</tr>

	</tbody>
	<tfoot>
		<tr>
			<th>Título</th>
			<th>Tipo</th>
			<th>Documento</th>
			<th>Ações</th>
		</tr>
	</tfoot>
</table>